.description-wrapper {
  text-align: center;
  padding-top: 94px;
}


.description__link {
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
    height: 120px;
}
 

.description__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 10px;
}

.description__text {
  // width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding: 0;
  margin: 0;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}