.header {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.header-logo--dark {
  color: #212121;
  padding-right: 15px;
  margin: 0 auto;
}

.header-logo__web-text {
  color: var(--accent-color);
}

.header-list {
  margin: 0;
  display: flex;
}

.header-list__header-item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.header-list__header-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  position: relative;
  bottom: -1px;
  transition: color var(--timing-function), fill var(--timing-function);
  &.header-list__header-link--active::after{
    background-color: rgba(33, 150, 243, 1);
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: 0px;
    right: 0px;
  }
}

.header-list__header-link {
  &:hover, &:focus {
    color: var(--accent-color);
    transition: color var(--timing-function);
  }
}
  
.header-contacts {
    &> li{
      &:first-child {
        margin-right: 50px;
    }
  }
}
  
.header-contacts__header-mailto-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__header-mailto {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--timing-function), fill var(--timing-function);
}

.header-contacts__header-mailto .header-contacts__header-mailto-icon {
  &:hover, &:focus {
      fill: var(--accent-color);
      transition: fill var(--timing-function);
    }
  }

.header-contacts__header-tel .header-contacts__header-tel-icon {
  &:hover, &:focus {
      fill: var(--accent-color);
      transition: fill var(--timing-function);
    }
  }

.header-contacts__header-tel{
    &:hover, &:focus{
    color: var(--accent-color);
  }
}
.header-contacts__header-mailto{
    &:hover, &:focus{
    color: var(--accent-color);
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts__header-mailto {
  padding: 32px 0;
}

.header-contacts__header-tel {
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  transition: color var(--timing-function), fill var(--timing-function);
}

.header-contacts__header-tel-icon {
  margin-right: 10px;
}

.address-tel-icon {
  fill: currentColor;
}