.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--our-team-background-color);
  }
  
.our-team__container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.our-team__list {
  display: flex;
  flex-direction: column;
  margin-bottom: -30px;
  margin-left: -30px;
}

.our-team h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
}
  

.our-team__social-networks {
  display: flex;
  width: 44px;
  height: 44px;
}
  
.our-team__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color var(--timing-function),
    fill var(--timing-function);
}
  
.our-team__icon {
  fill: currentColor;
}

.our-team__link {
    &:hover, &:focus {
    background-color: var(--accent-color);
    color:#fff;
  }
}
  
.our-team__link .our-team__icon {
  &:hover, &:focus {
    fill: #fff;
    transition: fill var(--timing-function);
  }
}

.our-team__social {
  display: flex;
  justify-content: center;
}

.our-team ul {
  &.our-team__list > .our-team__item {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: var(--main-title-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    .our-team__name {
      margin: 0 0 10px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
    }
    .our-team__position {
      font-weight: normal;
      font-size: 16px;
      line-height: 1.18;
      text-align: center;
      letter-spacing: 0.03em;
      margin: 0 0 16px;
      color: var(--main-text-color);
    }
  }
}

img {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .our-team__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .our-team ul {
    &.our-team__list > .our-team__item {
      width: 354px;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: calc( (100% - 2 * 30px) / 2);
      
    }
  }
}

