.portfolio__overlay:hover .portfolio__text-hover {
  transform: translateY(0);
}

.portfolio__overlay-img {
  overflow: hidden;
  position: relative;
  &:hover::before{
    transform: translateY(0);
  }
  &::before{
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(33, 150, 243, 0.9),
      rgba(33, 150, 243, 0.9)
    );
    opacity: 0;
    transition: transform var(--timing-function);
  }
}

.portfolio__text-box {
  .portfolio__text-hover {
    position: absolute;
    margin: 0;
    color: #fff;
    background-color: rgba(33, 150, 243, 0.9);
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    opacity: 1;
    font-size: 18px;
    line-height: 1.56;
    transform: translateY(100%);
    transition: transform var(--timing-function), opacity var(--timing-function);
  }
}

.portfolio {
  position: relative;
  background-color: var(--main-title-color);
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--portfolio-item-gap));
  margin-left: calc(-1 * var(--portfolio-item-gap));
  padding-bottom: 94px;
  .portfolio__text-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0;
  }
  .portfolio__text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin: 0;
  }
  &> li {
    margin-left: var(--portfolio-item-gap);
    margin-top: var(--portfolio-item-gap);
    border: 1px solid #eeeeee;
    flex-basis: calc(100% / 3 - var(--portfolio-item-gap));
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.portfolio__img {
  position: relative;
}

.portfolio__img-text {
  padding: 20px 24px;
}