:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --main-text-color: #757575;
    --header-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --banner-color: #2f303a;
    --our-team-background-color: #f5f4fa;
    --portfolio-item-gap: 30px;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

$main-title-color: #ffffff;
$second-title-color: #212121;
$main-text-color: #757575;
$header-text-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$banner-color: #2f303a;
$our-team-background-color: #f5f4fa;
$portfolio-item-gap: 30px;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
